/* استایل‌های کلی صفحه */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* استایل‌های هدر */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

/* استایل‌های دکمه‌ها */
button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #006080;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
